# files
.prettierrc
.gitignore
.prettierignore
.eslintignore
.eslintrc.json
jest.config.ts
vite.config.ts
typedoc.json
yarn.lock

# dirs
.github
src
scripts
doc
test
perf

# generated
docs
deno_dist