# dotfiles
.github
.prettierrc
.gitignore
.prettierignore
.eslintignore

# generated
out
coverage
report
docs

# testing
test
benchmark

# code
src
scripts
jest.config.ts
vite.config.ts

# dist
deno_dist