# files
.github
.prettierrc
.gitignore
.prettierignore
.eslintignore
jest.config.ts
vite.config.ts
typedoc.json

# dirs
src
scripts
docs_src
test
benchmark

# generated
docs
deno_dist